.relateds {
    @include clearfix;
    @include transition(left .5s ease-out);
    position: absolute;
    left: r(-11.25rem);
    bottom: x(3); /* @todo: magic number. replace immediately */
    height: r(16.375rem);
    width: r(12rem);
    background-color: $yellow;
    overflow: hidden;

    .page-selectors {
        position: absolute;
        bottom: -5px;
        width: 100%;
        padding-right: 8px;

        .active{
            color: $red;
        }
    }

    .related-page{
        padding: 4px 12px;
        line-height: 1rem;
        a{
            font-size: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            line-height: inherit;
        }  
    }
    
    .related-toggler {
        display: block;
        height: x(0.5);
        width: r(16.375rem);
        position: absolute;
        top: 125px; /* (width / 2) - height */
        right: -125px; /* ((width / 2) - height) * -1 */
        transform: rotate(-90deg);
        overflow: hidden;
        text-transform: uppercase;

        p {
            font-size: 0.5rem;
            font-weight: bold;
        }
        
        .toggler-text {
            @include clearfix;
            @include transition(margin-top .5s ease-out .3s);
            height: x(0.5);
            margin: 0;

            .toggler-text-icon{
                display: block;
                width: 14px;
                height: x(0.5);
                padding: 0 1px;
                float: left;
                background-color: $black;
            }

            .toggler-text-span{
                height: x(0.5);
                display: block;
                line-height: x(0.5);
                padding-left: x(0.75);
            }

            &:last-of-type {
                .icon {
                    transform: rotate(180deg);
                }
            }
            .icon {
                position: relative;
                top: -3px;
                width: x(0.5);
                height: x(0.5);
            }
        }
    }

    &.active {
        left: 0;

        .related-toggler .toggler-text:first-child { margin-top: -12px; }
    }

    .related-paginations {
        position: absolute;
        bottom: 0;
    }
}
