.has-neu {
    // Navigation

    &.page-navigations {
        top: x(1);
        right: r(12rem);
        width: r(35rem);
        bottom: auto;
    }

    // Thumb

    &.thumbs {
        top: r(3.055rem);
        bottom: auto;
        width: r(35rem);
        height: r(40rem);
    }

    .thumb-group {
        width: r(35rem);
    }

    .thumb {
        width: 100%;
    }

    .thumb-images,
    .thumb-texts {
        float: left;
    }

    .thumb-images {
        background-color: $red;
        width: r(9rem);
        height: r(9rem);

        .thumb-image {
            height: r(9rem);
            width: auto;
            margin: 0 0 0 r(-4.5rem);
        }
    }

    .thumb-texts {
        margin: 0 0 0 x(.5);
        width: r(24rem);
        height: r(9rem);

        .thumb-text {
            max-height: r(10rem);
            height: r(8.75rem);
            overflow: hidden;
        }
    }

    .thumb-title {
        background-color: $black;
        color: $white;
        height: x(1);
        line-height: x(1);
        padding: 0 x(.25);
        font-family: $ff-sans-bold;

        &.background--light { color: $white; }
    }

    .thumb-subtitle {
        height: x(1);
        line-height: x(1);
        padding: 0 x(.25);
        font-size: 11px;
        font-family: $ff-sans-bold;
        letter-spacing: 0.1em;
    }

    .thumb-overview {
        padding: 0 x(.25);
        font-size: 11px;
        line-height: x(1);
        letter-spacing: 0.05em;
        text-transform: initial;
        margin-top: 0;
    }
}

#neu-page {
    position: absolute;
    right: 0;
    top: x(2);
    max-width: 50%;
    min-width: x(25);
    max-height: 95%;
    margin: 0;
    padding: 0 x(1) 0 0;
    overflow-y: scroll;
    

    .neu-page-head {
        width: 100%;
        margin: 0 0 x(1) 0;

        .neu-title {
            text-transform: uppercase;
        }
    }

    p, a {
        font-size: r(0.75rem);
        line-height: x(1);
        letter-spacing: 0.15em;
        color: inherit;

        &:last-child { margin-bottom: 0; }
    }

    .neu-title {
        margin: 0;
    }

    .neu-page-body {
        margin: 0 0 x(1) 0;

        img {
            display: block;
            width: 100%;
            margin: 0 0 x(0.5) 0;
            padding:
        }
    }

    .neu-page-foot {
        position: relative;
        margin: 0 0 x(1) 0;
        
        .neu-meta {
            background-color: $black;
            color: $white;
            padding: 0 x(.25);
        }

        .neu-page-link {
            font-size: 11px;

            &:hover { color: $red; }
        }
    }
}
