#wordings {
    @include clearfix;
    float: right;
    width: 50%;
    height: 100%;
    min-height: 100%;
    display: table;
    color: $white;
    
    h1,p,quote {
            font-size: inherit;
            line-height: inherit;
            margin: 0;
            text-transform: inherit;
            color:inherit;
        }

    .wording {
        @include clearfix;
        display: table-cell;
        vertical-align: middle;
    }
    
    .wording-head {
        font-size: 3rem;
        line-height: x(2);
        padding: 0 0 x(0.5) 0;
        text-transform: uppercase;
        text-align: right;

        
    }
    
    .wording-body {
        border-top: 1px solid white;
        padding: x(0.5) 0;
        font-size: r(0.875rem);
        text-align: right;
    }

    .wording-body, .wording-head, .wording-footer {
        &.background--light {
            color:$black;
        }
        &.background--dark {
            color:$white;
        }
    }

    .wording-body {
        &.background--light {
            border-color:$black;
        }
        &.background--dark {
            border-color:$white;
        }
    }

    .wording-footer {
        font-size: r(0.8rem);
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-family: $ff-sans-bold;
        border-top: 18px solid $white;
        padding: x(0.5) 0;
        text-align: right;
    }
    
}   

