#brands {
    display: block;
    text-decoration: none;
    margin: 0;
    position: absolute;
    top: x(0.5);
    left: x(0.5);
    height: x(6);

    .brand-svg {
        height: 100%;
    }

    .has-color {
        @include transition(fill .3s ease-out);
    }

    .light &,
    &.background--light {
        .has-color { fill: #000; } 
    }
    .dark &,
    &.background--dark {
        .has-color { fill: #FFF; } 
    }
}
