#wordings {
    @include clearfix;
    float: right;
    max-width: x(20);
    min-width: x(20);
    width: x(20);
    height: 100%;
    min-height: 100%;
    display: table;
    color: $white;
    
    
    h1 {
            font-size: inherit;
            line-height: inherit;
            margin: 0;
            text-transform: inherit;
            color:inherit;
            letter-spacing: 0.05em;
    }

    p {
            font-size: inherit;
            line-height: inherit;
            text-transform: inherit;
            color:inherit;
            letter-spacing: inherit;
    }

    p:first-child { margin: 0; }

    quote {
            font-size: 7.5px;
            line-height: inherit;
            margin: 0;
            text-transform: inherit;
            color:inherit;
            letter-spacing: r(0.441rem);
        }

    .wording {
        @include clearfix;
        display: table-cell;
        vertical-align: top;
        padding-top: x(6);
    }
    
    .wording-head {
        font-size: r(1.80rem);
        line-height: r(2rem);
        padding: 0 0 x(0.75) 0;
        text-transform: uppercase;       
    }
    
    .wording-body {
        border-top: 1px solid white;
        padding: x(0.75) 0;
        font-size: r(0.75rem);
        line-height: x(1);
        letter-spacing: 0.15em;
    }

    .wording-body, .wording-head, .wording-footer {
        &.background--light {
            color:$black;
        }
        &.background--dark {
            color:$white;
        }
    }

    .wording-body {
        &.background--light {
            border-color:$black;
        }
        &.background--dark {
            border-color:$white;
        }
    }

    .wording-footer {
        font-size: r(0.10rem);
        text-transform: uppercase;
        font-family: $ff-sans-bold;
        border-top: 18px solid $white;
        padding: x(0.75) 0;
    }
    
}   

