/** --------------------------------------------------------------------------*\
 *  HTML5 ELEMENTS.
 ** --------------------------------------------------------------------------*/

// ----------------------------------------------------------------------------\
// Box Model.
// ----------------------------------------------------------------------------/

*,
*:before,
*:after {
    @include box-sizing(border-box);
}

// ----------------------------------------------------------------------------\
// COMPASS BASELINE.
// ----------------------------------------------------------------------------/

@include establish-baseline(1rem);

// ----------------------------------------------------------------------------\
// HTML.
// ----------------------------------------------------------------------------/
html {
    height: 100%;
    min-width: 320px;
    overflow: scroll;
}

// ----------------------------------------------------------------------------\
// Body.
// ----------------------------------------------------------------------------/
body {
    display: block;
    min-width: 320px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    color: $black;
    font-family: $ff-sans-regular;
    background-color: darken($white, 20%);
}
