.page-navigations {
    width: 43.375rem;
    position: relative;
    background: none;
}

.border-white {
    border: 1px solid white;
}

.border-black {
    border: 1px solid black;
}

.page-navigations:before,
.page-navigations:after {
    content: "";
    display: table;
}
.page-navigations:after {
    clear: both;
}

.page-navigations.left { float: left; margin: 0; }
.page-navigations.center { float: left; margin: 0 auto; }
.page-navigations.left { float: right; margin: 0; }

.page-navigation {
    position: relative;
    background: yellow;
    float: left;
    margin: 0;  
}

.white {
        border-right: 1px solid white;
}

.black {
        border-right: 1px solid black;
}

.info-btn {
    margin: 0;
    display: block;
    cursor: pointer; 
    background: black;   
    height: 1.500rem;
    width: 1.500rem;
    position: absolute;
    padding: 0 0 0 0.313rem; 
}
a.info-btn {
    margin: 0;
    display: block;
    cursor: pointer; 
}

.info-btn-text {
    margin: 0;
    padding: 0 1.563rem 0 1.875rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.hide {
    display: none;
}

.page-selector {
    width: 25.000rem;
    position: relative;
    float: left;
    margin: 0 0.313rem 0 0.313rem;
    border: none;
}

.page-selector.left {float:left;}
.page-selector.right {float: right;}

.page-selector .navigation {
    display: block;
    position: absolute;
    cursor: pointer;
}

.page-selector .prev {
    left: 0;
}

.page-selector .next {
    right: 0;
}

.page-fullscreen {
    margin: 0 0 0 0.313rem;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

a.page-fullscreen {
    margin: 0 0 0 0.313rem;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.page-fullscreen.left {float: left;}
