#parallaxes {
    @include mq(min-width 800px) {
        width: r(50rem);
        height: r(37.5rem);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: r(-18.75rem) 0 0 r(-25rem);
        // background-color: #FFF;
    }
    @include mq(max-width 799px) { display: none; }

    .parallax-image {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        // background-color: #CCC;
    }
}
