#parallaxes {
    @include mq(min-width 800px) {
        width: x(42);
        height: x(31.5);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: x(-15.75) 0 0 x(-21);
        z-index: -1;
    }
    @include mq(max-width 799px) { display: none; }

    .parallax-image {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        // background-color: #CCC;
    }
}
