/** ----------------------------------------------------------------- *\
 *  Styleguides
 *  
 *  Variables & Global styles.
 *  
 *  @author Sirna
 *  @version 0.0.1
 *  
 *  Copyright 2014.
 ** ----------------------------------------------------------------- */

.styleguides {
    background: $grey;
    padding-bottom: x(3);
}

.baseline {
    background-image: none;
    background-repeat: no-repeat;

    &.active {
        background-image: url("../../styleguide/baseline.png");
        background-repeat: repeat;
    }
}

.baseline-togglers {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 x(0.5) x(0.5) 0;
    
    .baseline-toggler {
        @include link-colors($orange, $red, false, false, false);
        display: block;
    }
}

.sg-toc {
    position: relative;
    max-width: x(24);
    width: x(24);
    margin: 0 auto x(4) auto;

    .sg-toc-head {
        margin: x(1) 0 0 0;
    }

    h1, h2, h3, h4, h5, h6,
    p, li {
        color: $white;
    }

    a {
        @include link-colors($white, $red, false, false, false);
    }
}

.sg-guides {
    @include pie-clearfix();
    width: 100%;
    position: relative;
    padding: 0 x(2);
    margin: 0 0 x(1) 0;

    .sg-previews + & {
        margin-top: x(2);
    }

    h1, h2, h3, h4, h5, h6,
    p, li {
        color: $white;
    }
}

.sg-code-toggler {
    height: x(1);
    line-height: x(1);
    color: $orange !important;
    font-weight: 200;
    margin: 0;
}

.sg-code {
    height: 0;
    overflow: hidden;

    &.is-shown {
        @include transition(all 0.3s ease-out);
        height: auto;
    }

    pre {
        clear: both;
        overflow: auto;
        width: 100%;                           /* specify width  */
        white-space: pre-wrap;                 /* CSS3 browsers  */
        white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
        white-space: -pre-wrap;                /* Opera 4 thru 6 */
        white-space: -o-pre-wrap;              /* Opera 7 and up */
        word-wrap: break-word;                 /* IE 5.5+ and up */
    }

    .hljs {
        background-image: url("../../styleguide/baseline.png");
        background-repeat: repeat;
        font-size: 13px;
        line-height: $p-line-height;
        padding: 0 x(1);
    }
}

.sg-component {

    &.head {
        // 
    }
}

.sg-previews {
    @include pie-clearfix();
    @include box-shadow(rgba(0, 0, 0, 0.3) 0 2px 4px 0 inset);

    width: 100%;
    position: relative;
    padding-top: x(1);
    padding-bottom: x(1);

    background-color: #fff;
    &.dark {
        background-color: $grey-0;
    }

    &.side-pad {
        padding-right: x(2);
        padding-left: x(2);
    }
}

.sg-row {
    @include pie-clearfix();
    width: 100%;
    overflow: hidden;
}

.sg-sample-left-narrow,
.sg-sample-right-wide {
    float: left;
}

.sg-sample-left-narrow {
    width: x(10);
    margin-right: x(.5);
}
.sg-sample-right-wide {
    width: x(18);
}
.sg-sample-offset-left-narrow {
    margin-left: x(10.5);
    margin-bottom: x(0.5);
}
