$page-navigation-height: x(1);

.page-navigations {
    @include clearfix;
    position: absolute;
    right: x(10);
    bottom: 343px; /* @todo: magic number. replace immediately */
    width: r(49rem);
}

.page-navigation {
    @include clearfix;
    @include box-sizing(content-box);

    position: relative;
    height: $page-navigation-height;

    font-size: r(.75rem);

    // @todo
    width: r(25.5rem);

    // Default value, will be replaced dynamically
    border: 1px solid $black;

    // Dynamic value
    &.background--dark { border-color: $white; }
    &.background--light { border-color: $black; }
}

$info-btns-togglers-width: x(1);
$info-btns-texts-width: x(8);
$info-btns-width: x(9);

.page-navigation {
    // Element reset
    a, p, ul, li, i {
        margin: 0; padding: 0;
        font-size: inherit;
        font-family: inherit;
        letter-spacing: inherit;
    }

    .info-btns {
        float: left;
        width: $info-btns-width;
        height: $page-navigation-height;
        overflow: hidden;
    }

    .page-selectors {
        float: left;
        width: x(8);
        overflow: hidden;
    }
}

.info-btns {
    .info-btn-icons {
        display: block;
        float: left;
        width: $info-btns-togglers-width;
        height: $page-navigation-height;
        margin: 0;

        text-align: center;

        color: $white;
        background-color: $black;
    }

    .info-btn-togglers {
        display: block;
        float: left;
        width: $info-btns-texts-width;
        height: $page-navigation-height;
        font-size: r(0.75rem);
        line-height: x(1);

        font-family: $ff-sans-bold;
        letter-spacing: -0.01em;

        text-align: left;
        text-transform: uppercase;

        color: $black;

        .info-btn-toggler {
            @include transition(margin-top .3s ease-out);
            margin-top: 0;
            padding: 0 x(.25);
            background-color: $yellow;
            border-right: 1px solid $black;
            white-space: nowrap;
        }

        .info-btn-toggler:nth-child(1) {}
        .info-btn-toggler:nth-child(2) {
            margin-top: 0;
            border-top: 1px solid $black;
        }
        .info-btn-toggler:nth-child(n+3) { display:none; }

        &.is-active,
        &:hover {
            .info-btn-toggler:nth-child(1) {
                margin-top: x(-1);
            }
            .info-btn-toggler:nth-child(2) {
                margin-top: -1px;
            }
        }

        // Dynamic border color
        &.background--dark { .info-btn-toggler:nth-child(2) { border-color: $white; } }
        &.background--light { .info-btn-toggler:nth-child(2) { border-color: $black; } }
    }
}

.page-selectors {
    .page-selector {
        position: relative;
        display: block;
        float: left;
        width: x(1);
        height: x(1);
        text-transform: uppercase;

        &.next { float: right; }
    }

    .icon {
        display: block;
        width: 80%;
        height: 1.5rem;
        pointer-events: none;
    }

    .page-selector.prev .icon { transform: rotate(90deg); }
    .page-selector.next .icon { transform: rotate(-90deg); }

    .page-selector-link {
        display: block;
        height: x(1);
        width: x(1);
        line-height: x(1);
        padding: 0 4px;
        font-size: 10px;
        text-align: center;

        &:hover { background-color: $yellow; color: $black; }
    }
}
