.background {
    position: fixed;
    top: 0;
    left: 0;
    &.video-loaded {
        opacity: 0;
    }
}

video.background {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url('../assets/videos/Y.png') no-repeat;
    background-size: cover;
}

.background.full-width { width: 100%; }
.background.full-height { height: 100%; }


/* @todo: move to it own file */
#big-video-wrap *[class^="vjs"]:not(.vjs-tech) { display: none !important; }
#big-video-wrap .vjs-tech { z-index: -1337 !important; }
