.thumbs {
    @include clearfix;
    position: absolute;
    bottom: x(1);
    right: x(1);
    border-top: 1px solid $white;
    float: right;
    width: r(49rem);
    height: r(27rem);
}

.thumb {
    @include clearfix;
    padding: x(.25) 0;
    float: left;

    &:nth-child(2n+1) { margin: 0 r(.5rem) 0 0; }
    &:nth-child(2n)   { margin: 0 0 0 r(.5rem); }

    &:hover { background-color: rgba($red, .2); }
}

.thumb-images,
.thumb-texts {
    @include clearfix;
    width: r(12rem);
    height: r(6rem);
    float: left;
    position: relative;
    overflow: hidden;
}

.thumb-text {
    text-transform: uppercase;

    .thumb-title {
        font-size: r(.75rem);
        line-height: r(1rem);
        font-family: $ff-sans-bold;
        font-weight: 700;
        margin: 0;
        color: $white;
        letter-spacing: 0.1em;
    }
    .thumb-subtitle {
        font-size: r(.75rem);
        line-height: r(1rem);
        font-family: $ff-sans-regular;
        font-weight: 700;
        margin: 0;
        color: $white;
    }
}

.thumb-image {
    display: block;
    height: r(6rem);
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -106px;
}
