$thumbs-width: r(50rem);
$thumbs-height: r(21rem);
$thumb-groups-width: 100%; // default value, will be replaced dynamically
$thumb-groups-height: 100%; // default value, will be replaced dynamically

.thumbs {
    @include clearfix;
    position: absolute;
    bottom: x(1);
    right: x(1);
    float: right;
    width: $thumbs-width;
    height: $thumbs-height;
    overflow: hidden;
}

.thumb-deco {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;

    // default value, will be replaced dynamically
    background-color: $black;

    // Dynamic value
    .dark &,
    &.background--light { background-color: $black; }
    .light &,
    &.background--dark  { background-color: $white; }
}

.thumb-groups {
    @include transition(left .4s ease-out);
    @include clearfix;
    position: absolute;
    left: 0;
    top: 1px;
    width: $thumb-groups-width;
    height: $thumb-groups-height;
    overflow-y: scroll;
}

.thumb-group {
    @include clearfix;
    float: left;
    width: $thumbs-width;
    height: $thumbs-height;
    position: relative;
}

.thumb {
    @include clearfix;
    float: left;
    background-color: transparent;
    padding: (.5rem);
    display: block;

    // Default value, will be inherited
    color: $black;

    &:hover {
        cursor: pointer;
        background-color: rgba($black, 1);
        color: $white;
    }
}

.thumb-images,
.thumb-texts {
    @include clearfix;
    width: r(12rem);
    height: r(6rem);
    float: left;
    position: relative;
    overflow: hidden;

    // Dynamic value
    .thumb.is-swap & { float: right; }
}

.thumb-texts {
    // Will be inherited
    font-size: r(.75rem);
    line-height: r(1rem);

    .thumb.is-swap & { padding-left: 6px; }
}

.thumb-text {
    text-transform: uppercase;

    // Element reset
    &,
    .thumb-title,
    .thumb-subtitle {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
    }

    .thumb-title,
    .thumb-subtitle,
    .thumb-overview {
        // Dynamic styles, will be inherited
        &.background--light { color: $black; }
        &.background--dark  { color: $white; }

        .thumb:hover & { color: $white; }
    }

    .thumb-title {
        font-family: $ff-sans-bold;
        font-weight: 700;
        margin: 0;
        letter-spacing: 0.1em;
    }
    .thumb-subtitle {
        font-family: $ff-sans-regular;
        font-weight: 700;
        margin: 0;
    }
}

.thumb-image {
    display: block;
    height: r(6rem);
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -106px;
}
