$black            : #000;
$grey             : #3B3F54;
$grey-1           : $grey;
$grey-2           : #5A636E;
$grey-3           : #ACB8C4;
$grey-0           : #F2F2F2;
$white            : $grey-0;
$yellow           : #FC0;
$yellow-1         : $yellow;
$yellow-2         : #FFB300;
$yellow-3         : #F90;
$yellow-0         : #FFC;
$orange           : $yellow-3;
$red              : #F00;
$red-1            : $red;
$red-2            : #E62E2E;
$red-3            : #B32424;
$red-0            : #FFCCCC;
$green            : #06EA8E;
$green-1          : $green;
$green-2          : #05D682;
$green-3          : #08BA72;
$green-0          : #CCFFCC;
$blue             : #39F;
$blue-1           : $blue;
$blue-2           : #2E8AE6;
$blue-3           : #246BB3;
$blue-0           : #CCFFFF;

$brand-red        : $red;
$brand-blue       : $blue;
$brand-grey       : $grey;

$background-color : $brand-grey;
$text-color       : $black;
$link-color       : $brand-red;

$brand-c1         : $brand-red;
$twitter          : #55acee;
$facebook         : #3c5a98;
