#preloaders {
    @include transition(background-color 1s ease-out, z-index .1s step-end 1s);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 9000;

    background-color: #FFF;
    pointer-events: none;

    &.page-loaded {
        background-color: rgba(#FFF, 0);
        z-index: -9000;
    }
}
